<!DOCTYPE html>
<html>
<head>
    <title>Your Web App</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>
<body>
    <header class="bg-gray-800 text-white py-4 flex-col justify-between">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold">Lyrics generator</h1>
        </div>
    </header>    
 

    <main class="container mx-auto p-4">
    </main>
    
    <main class="container mx-auto p-4">
        <div class="bg-white p-4 rounded-lg shadow-md">
            <!-- <p class="text-lg text-gray-800">Get started by logging in with your Spotify account.</p> -->
            <h2 class="text-xl font-semibold mb-4 text-center">This page doesn't exist =&#40;</h2>
            
        </div>
    </main>

    <div class="mt-4 text-center">
        <a href="/login" class="bg-green-500 text-white py-2 px-4 rounded-full hover:bg-green-600 border-solid">
            Go back to the home page
        </a>
    </div>
</body>
</html>
